@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 236, 224);
    color: #043f66;
    font-family: "Cabin",sans-serif;
    font-weight: 400;
}

h1 {
    padding: 3.5rem;
    background-color: #74a7e4;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Quicksand", serif;
    border-radius: 30px;

}
button {
    margin: 8px;
    padding: 19px;
    width: 3%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #000000;
    font-size: 2rem;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
a {
    color:#005187 ;   
    z-index: 1000;

}
a:hover {
    color: #74a7e4;
    background-color: #000000;
    z-index: 1000;
}
li {
    padding: 4px;
    margin-left: 2rem;
    list-style-type: none;
    font-size: 1.3rem;
    display: none;
    z-index: 1000;

}
